.singup-container{
    background-image: url(../../assets/loginBackground.jpg);
background-size: cover;
   background-position:center;
   height: 100vh;
   display: grid;
   align-items: center;
} 
.member{
    font-size:xx-small ;
}
.logbtn{
    text-decoration: underline;
    background-color: rgb(221, 248, 239);
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}
.help-block{
    color: red;
    font-size: 10px;
}
.formText{
    font-size: x-small;
}
input {
    font-size:small;
}
.singupBtn {
    font-size: small;
}