<div class="container-fluid background d-flex justify-content-end align-items-center">
    <div class="text-end mx-5">
        <h1>March into Spring!</h1>
        <p>Bring the meadow to them with a daisy bouquet.</p>
        <button class="bg-secondary border-0 text-light btn1 px-2 py-2" type="button">SHOP FLOWERS</button>
    </div>
</div>
<div class="container">
    <div class="row d-flex justify-content-center pt-5">
        <div class="col-7">
            <p class="p1">Established in 1910,FTD has been a premier provider of beautiful floral arrangements and
                gorgeus mixet flower bouquets
                for over 100 years. Whatever the occasion, our evergreen collection of colorful stems, blossoming
                plants, and fragrant arrangements
                have warmed hearts all across the country with our flower delivery services. At FTD, we celebrate the
                little things in life and cherish
                the timeless charm a single flower embodies. From birthday flowers to sympathy flowers, all of our
                hand-picked flower arrangments are
                worth more than a thousands words.
                Our sprawling network of florists is chock-full of expert green thumbs with an eye on elegance and
                perfection. As one of the largest
                and most trusted online floral retailers in the world, we take immense pride in our industy-leading
                title. Delivering quality, innovation,
                creative artristry, and dependability, FTD is much more than a just an online delivery service.
            </p>
        </div>
    </div>
</div>
<div class="container  mt-5">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <img class="w-100 h-75 " src="../../assets/flower1.jpeg">
            <p class="text-center mb-0 mt-2 flowers">Fiesta Bouquet</p>
            <p class="text-center mt-0  flowers">60$</p>
        </div>
        <div class="col-lg-3 col-md-6">
            <img class="w-100 h-75" src="../../assets/flower2.jpeg">
            <p class="text-center mb-0 mt-1  flowers">Alluring Elegance Bouquet</p>
            <p class="text-center mt-0  flowers">72$</p>
        </div>
        <div class="col-lg-3 col-md-6">
            <img class="w-100 h-75" src="../../assets/flower3.jpeg">
            <p class="text-center mb-0 mt-2  flowers">Beyond Blue Bouquet</p>
            <p class="text-center mt-0  flowers">55$</p>
        </div>
        <div class="col-lg-3 col-md-6">
            <img class="w-100 h-75" src="../../assets/flower4.jpeg">
            <p class="text-center mb-0 mt-2  flowers">Mixed Roses</p>
            <p class="text-center mt-0  flowers">35$</p>
        </div>
        <div class="col-lg-3 col-md-6">
            <img class="w-100 h-75" src="../../assets/flower5.jpeg">
            <p class="text-center mb-0 mt-2  flowers">Belle of the Ball Bouquet</p>
            <p class="text-center mt-0  flowers">45$</p>
        </div>
        <div class="col-lg-3 col-md-6">
            <img class="w-100 h-75" src="../../assets/flower6.jpeg">
            <p class="text-center mb-0 mt-2  flowers">Rainbow Garden</p>
            <p class="text-center mt-0  flowers">50$</p>
        </div>
        <div class="col-lg-3 col-md-6">
            <img class="w-100 h-75" src="../../assets/flower7.jpeg">
            <p class="text-center mb-0 mt-2  flowers">Best Day Bouquet</p>
            <p class="text-center mt-0  flowers">61$</p>
        </div>
        <div class="col-lg-3 col-md">
            <img class="w-100 h-75" src="../../assets/flower8.jpeg">
            <p class="text-center mb-0 mt-2  flowers">Smiles & Sunshine</p>
            <p class="text-center mt-0  flowers">45$</p>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button type="button" class="btn btn-outline-secondary" (click)="loadShop()">Load more</button>
        </div>
    </div>

</div>
<div class="container">

    <div class="row row1">
        <div class="col-lg-5 mt-5">
            Send us a message<br>
            A: Laze Nancica 7, 21000 Novi Sad<br><br>
            office@smartinit.net<br><br>
            T: 021/422-022<br><br>
            MON-FRI: 7am - 10am<br>
            SATURDAY: 8am - 10am<br>
            SANDAY: -<br><br>
            FAQ / <br>
            Shipping & Returns / <br>
            Store Policy / <br>
            Payment Methods /
        </div>


        <div class="col-lg-7 col-sm-12 mt-5">
            <label class="mt-3" for="name">Name</label>
            <input class="i1" id="name" type="text" name="Ime" class="form-control" />

            <label class="mt-3" for="email">Email</label>
            <input class="i1" id="email" type="email" name="email" class="form-control" />

            <label for="subject">Subject</label>
            <input class="i1" type="text" class="form-control" id="subject">

            <label for="message mt-3">Message</label>
            <textarea class="i1" type="textarea" rows="2" class="form-control" id="message"></textarea>


            <div class="button">
                <button type="button" class="btn-outline-secondary rounded mt-2 py-1 px-2 bg-white btn1">SEND</button>
            </div>
            <div class="col-lg-7 col-sm-12" class="newsletters">
                <div>
                    <label for="newsletters">Get our newsletters</label>
                    <input class="inputemail" type="email" class="form-control" id="newsletters"
                        placeholder="Enter your email here">
                </div>

                <button class="bg-dark rounded text-light px-2 py-1 mx-3" type="button">Subscribe Now</button>

            </div>

        </div>

    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-6 col-sm-12 pinkbackground">
            <div>
                <h3 class="h31">Send Get Well Wishes</h3>
                <p>Brighten their recovery with beautiful florals, plants and gifts that will express your well wishes.
                </p>
                <button class="bg-secondary border-0 rounded text-light">SHOP GET WELL FLOWERS & GIFTS</button>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 flowerbackground">

        </div>
    </div>
</div>